@model IEnumerable<TopTravel.Role>

@{
    ViewBag.Title = "Roles";
}

<h1 class="h3 mb-2 text-gray-800">Rolls</h1>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="card shadow mb-4">
    <div class="card-body">
        <table class="table table-bordered dataTable">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.RoleName)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.RoleName)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new {id = item.RoleID}) |
                        @Html.ActionLink("Details", "Details", new {id = item.RoleID}) |
                        @Html.ActionLink("Delete", "Delete", new {id = item.RoleID})
                    </td>
                </tr>
            }

        </table>
    </div>
   

</div>

