@using DotNetNuke.UI.WebControls
@using PagedList.Mvc
@model PagedList.IPagedList<Tour>
@section csslib
{
    @Styles.Render("~/Content/jqueryui")
    @Styles.Render("~/Content/travelix/search")
}

@section scripts{
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/travelix/search")
}
<div class="home">
    <div class="home">
        <div class="home_background">
            <img style="width: 100%;height: 465px;" src="/Content/travelix/images/about_background.jpg" />
        </div>
        <div class="home_content">
            <div class="home_title">Tìm kiếm Tour</div>
        </div>
    </div>
</div>
<div class="offers">

    <!-- Search -->

    <div class="search">
        <div class="search_inner">

            <!-- Search Contents -->

            <div class="container fill_height no-padding">
                <div class="row fill_height no-margin">
                    <div class="col fill_height no-padding">

                        <!-- Search Tabs -->

                        <div class="search_tabs_container">
                            <div class="search_tabs d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start">

                                @foreach (var item in ViewBag.TourTypes)
                                {
                                    <div class="search_tab d-flex flex-row align-items-center justify-content-lg-center justify-content-start">@item</div>

                                }
                            </div>
                            <scripts>

                            </scripts>
                        </div>

                        <!-- Search Panel -->

                        <div class="search_panel active">
                            @using (Html.BeginForm("SearchTour", "Search", FormMethod.Get, new { @class = "search_panel_content d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start" }))
                            {
                                <div class="search_item" style="display:none">
                                    <div>label</div>
                                    @Html.TextBox("label", (string)ViewBag.Label, new { @class = "destination search_input", @autocomplete = "on" })

                                </div>
                                <div class="search_item ui-widget">
                                    <div>Nơi khởi hành</div>
                                    @Html.TextBox("departure", (string)ViewBag.Departure, new { @class = "destination search_input", @id = "select" })
                                </div>
                                <div class="search_item">
                                    <div>Điểm đến</div>
                                    @Html.TextBox("destination", (string)ViewBag.Destination, new { @class = "destination search_input", @id = "des" })

                                </div>
                                <div class="search_item">
                                    <div>Ngày khởi hành</div>
                                    @Html.TextBox("startDate", (string)ViewBag.StartDate, new { @id = "date", @class = "destination search_input" })

                                    <script>
                                        $("#date").datepicker({
                                            //,required: true
                                            dateFormat: 'dd-mm-yy'
                                        });
                                    </script>
                                </div>
                                <div class="search_item">
                                    <div>Số chỗ muốn đặt</div>
                                    @Html.TextBox("seat", (string)ViewBag.Price, new { @class = "destination search_input", @type = "number", @min = 0, @max = 15 })
                                </div>

                                <button class="button search_button">search<span></span><span></span><span></span></button>
                            }
                        </div>

                        <!-- Search Panel -->

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Offers -->

    <div class="container" style="padding-left:250px">
        <div class="row">
            <div class="col-lg-12">
                <!-- Offers Grid -->

                <div class="offers_grid">

                    <!-- Offers Item -->
                    @foreach (var item in Model)
                    {
                        <div class="offers_item rating_4">
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="offers_image_container">

                                        <div class="offers_image_background" style="background-image:url(@item.Image)"></div>
                                        <div class="offer_name"><a href="#">@item.TourLabel.TourLabelName</a></div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="offers_content">
                                        <h3 style="font-size: 26px;font-weight: 550;color: #2d2c2c;">@item.TourName</h3>
                                        <div class="offers_price">
                                            <p class="offers_text">Chỉ từ</p>
                                            @string.Format("{0:0,0}", @item.ListedPrice)đ <br />
                                            <p class="offers_text"><del>@string.Format("{0:0,0}", @item.Price)đ</del></p>
                                        </div>
                                        <p class="offers_text">
                                            Nơi khởi hành : @item.Departure <br />
                                            Ngày khởi hành : @item.StartDate.Value.ToString("dd/MM/yyyy") <br />
                                            Số ngày : @item.Duration <br />
                                            Số chỗ còn nhận : @item.SeatAvailability
                                        </p>
                                        <div class="offers_link">
                                            @Html.ActionLink("Read more", "Index", "Tour", new { id = @item.TourID }, new { @style = "font-size: 18px; color: black; text-transform: uppercase; font-weight: bold" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                    @if (Model.Count == 0)
                    {
                        <div class="offers_item rating_4" style="min-height:300px">
                            <div class="row">
                                <h1>Không tìm thấy kết quả nào!</h1>
                            </div>
                        </div>
                    }
                    <!-- Offers Item -->


                </div>
            </div>

        </div>
        <div class="row">
            <div class=" col-sm-12 col-md-5">
            </div>
            <div class=" col-sm-12 col-md-7">
                <div class="dataTables_paginate" style="font-size: 18px">
                    @Html.PagedListPager(Model, page => Url.Action("SearchTour", new { label = ViewBag.Label, destination = ViewBag.Destination, departure = ViewBag.Departure, startDate = ViewBag.StartDate, price = ViewBag.Price, page }))
                </div>
            </div>

        </div>
    </div>
</div>



