<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TopTravel</title>
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("csslib", required: false)
    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="super_container">
        <header class="header">

            <!-- Top Bar -->

            <div class="top_bar">
                <div class="container">
                    <div class="row">
                        <div class="col d-flex flex-row">
                            <div class="phone">+45 345 3324 56789</div>
                            <div class="social">
                                <ul class="social_list">
                                    <li class="social_list_item"><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                    <li class="social_list_item"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li class="social_list_item"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li class="social_list_item"><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                                    <li class="social_list_item"><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
                                    <li class="social_list_item"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <div class="user_box ml-auto">
                                <div class="user_box_login user_box_link"><a href="#">Đăng nhập</a></div>
                                <div class="user_box_register user_box_link"><a href="#">Đăng ký</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Main Navigation -->

            <nav class="main_nav">
                <div class="container">
                    <div class="row">
                        <div class="col main_nav_col d-flex flex-row align-items-center justify-content-start">
                            <div class="logo_container">
                                <div class="logo" style="background-image: url('../../Content/travelix/images/logo.png'); background-repeat: no-repeat">@Html.ActionLink("toptravel", "Index", "Home")</div>
                               
                            </div>
                            <div class="main_nav_container ml-auto">
                                <ul class="main_nav_list">
                                    <li class="main_nav_item">@Html.ActionLink("Trang chủ","Index","Home")</li>
                                    <li class="main_nav_item">@Html.ActionLink("Du lịch trong nước", "SearchTour","Search",new{label="Du lịch trong nước"},null)</li>
                                    <li class="main_nav_item">@Html.ActionLink("Du lịch nước ngoài", "SearchTour", "Search", new { label = "Du lịch nước ngoài" }, null)</li>
                                    <li class="main_nav_item"><a href="blog.html">Tin tức</a></li>
                                    <li class="main_nav_item"><a href="contact.html">Liên hệ</a></li>
                                </ul>
                            </div>


                            <div class="hamburger">
                                <i class="fa fa-bars trans_200"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>

        </header>

        @RenderBody()
        <footer class="footer">
            <div class="container">
                <div class="row">

                    <!-- Footer Column -->
                    <div class="col-lg-6 footer_column">
                        <div class="footer_col">
                            <div class="footer_content footer_about">
                                <div class="logo_container footer_logo">
                                    <div class="logo"><a href="#"><img src="/Content/travelix/images/logo.png" alt="">toptravel</a></div>
                                </div>
                                <p class="footer_about_text">Luôn mang đến cho bạn những trải nghiệm tốt nhất <br/> cho người dùng trên các tour du lịch thú vị. </p>
                                <ul class="footer_social_list">
                                    <li class="footer_social_item"><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                    <li class="footer_social_item"><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                    <li class="footer_social_item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li class="footer_social_item"><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                    <li class="footer_social_item"><a href="#"><i class="fa fa-behance"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>


                    <!-- Footer Column -->
                    <div class="col-lg-6 footer_column">
                        <div class="footer_col">
                            <div class="footer_title">Liên hệ</div>
                            <div class="footer_content footer_contact">
                                <ul class="contact_info_list">
                                    <li class="contact_info_item d-flex flex-row">
                                        <div>
                                            <div class="contact_info_icon"><img src="/Content/travelix/images/placeholder.svg" alt=""></div>
                                        </div>
                                        <div class="contact_info_text">@Html.Action("GetContact","Home",new{ colunm = "Address"})</div>
                                    </li>
                                    <li class="contact_info_item d-flex flex-row">
                                        <div>
                                            <div class="contact_info_icon"><img src="/Content/travelix/images/phone-call.svg" alt=""></div>
                                        </div>
                                        <div class="contact_info_text">@Html.Action("GetContact", "Home", new { colunm = "Phone" })</div>
                                    </li>
                                    <li class="contact_info_item d-flex flex-row">
                                        <div>
                                            <div class="contact_info_icon"><img src="/Content/travelix/images/message.svg" alt=""></div>
                                        </div>
                                        <div class="contact_info_text">@Html.Action("GetContact", "Home", new { colunm = "Email" })</div>
                                    </li>
                                    <li class="contact_info_item d-flex flex-row">
                                        <div>
                                            <div class="contact_info_icon"><img src="/Content/travelix/images/planet-earth.svg" alt=""></div>
                                        </div>
                                        <div class="contact_info_text">@Html.Action("GetContact", "Home", new { colunm = "Fax" })</div>
                                    </li>
                                    <li class="contact_info_item d-flex flex-row">
                                        <div>
                                            <div class="contact_info_icon"><img src="/Content/travelix/images/planet-earth.svg" alt=""></div>
                                        </div>
                                        <div class="contact_info_text">@Html.Action("GetContact", "Home", new { colunm = "Hotline" })</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </footer>


        
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/travelix")
       
       
    
    </div>
</body>
</html>
