@using DotNetNuke.UI.WebControls
@using PagedList.Mvc
@using TopTravel.Models
@model PagedList.IPagedList<ProfileViewModel>
@section csslib
{
    @Styles.Render("~/Content/jqueryui")
    @Styles.Render("~/Content/travelix/search")
}

@section scripts{
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/travelix/search")
}
<head>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script>
        let bookTourID


        function getID(id) {
            bookTourID = id
            document.getElementById("Modal").style.display = "block";
        }

        function closeModal(){
            document.getElementById("Modal").style.display = "none";
        }

        function reload() {
            $.get({
                url: '/UserLogin/getProfile',
                data: { id: @Session["UserID"], page: 1 }
            });

        }

        function cancel() {
            $.ajax({
                type: "POST",
                url: '/UserLogin/cancelBooking',
                data: { id: bookTourID },
                success: function (data) {
                    reload();
                    closeModal();

                }
            })

        }

    </script>
</head>
<div class="home">
    <div class="home">
        <div class="home_background">
            <img style="width: 100%;height: 465px;" src="/Content/travelix/images/about_background.jpg" />
        </div>
        <div class="home_content">
            <div class="home_title">Danh sách các tour đã đặt</div>
        </div>
    </div>
</div>
<div class="offers">

    <!-- Search -->
    <!-- Offers -->

    <div class="container" style="padding-left:250px">
        <div class="row">
            <div class="col-lg-12">
                <!-- Offers Grid -->

                <div class="offers_grid">

                    <!-- Offers Item -->
                    @foreach (var item in Model)
                    {
                        <div class="offers_item rating_4">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="offers_image_container">
                                        <div class="offers_image_background" style="background-image:url(@item.Tour.Image)"></div>
                                        <div class="offer_name"><a href="#">@item.Tour.TourLabel.TourLabelName</a></div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="offers_content">
                                        <h3 style="font-size: 24px;font-weight: 550;color: #2d2c2c;">@item.Tour.TourName</h3>
                                        <div>
                                            <p class="offers_text">Số lượng chỗ đã đặt: </p>
                                            @item.BookTour.NumberOfAdult Người lớn
                                            <br />
                                            @item.BookTour.NumberOfChildrent Trẻ em
                                            <p class="offers_text"> Tổng tiền @string.Format("{0:0,0}", @item.BookTour.Amount)đ</p>
                                            <p> Status : @item.BookTour.Status</p>
                                        </div>
                                        <p class="offers_text">
                                            Nơi khởi hành : @item.Tour.Departure <br />
                                            Ngày khởi hành : @item.Tour.StartDate.Value.ToString("dd/MM/yyyy") <br />
                                        </p>
                                        <div class="offers_link">

                                        </div>
                                        @Html.ActionLink("Chi tiết", "getDetail", new { id = item.BookTour.BookTourID })
                                        <button type="button" class="btn btn-danger btn-sm" onclick="getID(@item.BookTour.BookTourID)">Hủy Tour</button>
                                    </div>
                                </div>

                            </div>

                        </div>



                    }

                    <div class="modal " id="Modal" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header" style="color: #fff;background-color: steelblue; display:block">
                                    <button type="button" class="close" data-dismiss="modal" onclick="closeModal()">&times;</button>
                                    <h4 class="modal-title">Thông báo</h4>
                                </div>
                                <div class="modal-body">
                                    <p> Bạn chắc chắn muốn hủy Tour này không ?</p>
                                </div>
                                <div class="modal-footer">
                                    <button id="confirm" type="button" class="btn btn-danger btn-sm" onclick="cancel()">Hủy Tour</button>
                                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal" onclick="closeModal()">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- The Modal -->
                    <!-- Offers Item -->



                </div>
            </div>

        </div>
        <div class="row">
            <div class=" col-sm-12 col-md-5">
            </div>
            <div class=" col-sm-12 col-md-7">
                <div class="dataTables_paginate" style="font-size: 18px">
                    @Html.PagedListPager(Model, page => Url.Action("getProfile", new { id = Session["UserID"], page }))
                </div>
            </div>

        </div>


    </div>
</div>


