@model PagedList.IPagedList<TopTravel.Tour>
@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "Tours";
}

<h1 class="h3 mb-2 text-gray-800">Tours</h1>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="card shadow mb-4">
    <div class="card-body">
        <div class="dataTables_wrapper dt-bootstrap4">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                </div>
                <div class="col-sm-12 col-md-6">

                    @using (Html.BeginForm("Index", "Tours", FormMethod.Get))
                    {
                        <div id="dataTable_filter" class="dataTables_filter">
                            <label>Search:@Html.TextBox("SearchString", null, new { @class = "form-control form-control-sm", @type = "search" })</label>
                        </div>
                    }

                </div>
            </div>
            <div class="row">
                <table class="table table-bordered dataTable">
                    <tr>
                        <th>
                            @Html.Label("TourName")
                        </th>
                        <th>
                            @Html.Label("Departure")
                        </th>
                        <th>
                            @Html.Label("Destination")
                        </th>
                        <th>
                            @Html.Label("StartDate")
                        </th>
                        <th>
                            @Html.Label("Duration")
                        </th>
                        <th>
                            @Html.Label("Price")
                        </th>
                        <th>
                            @Html.Label("ListedPrice")
                        </th>
                        <th>
                            @Html.Label("IsHot")
                        </th>
                        <th>
                            @Html.Label("OnHomePage")
                        </th>
                        <th>
                            @Html.Label("TourLabelName")
                        </th>
                        <th>
                            @Html.Label("TourTypeName")
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.TourName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Departure)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Destination)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StartDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Duration)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ListedPrice)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IsHot)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OnHomePage)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TourLabel.TourLabelName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TourType.TourTypeName)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.TourID }) |
                                @Html.ActionLink("Details", "Details", new { id = item.TourID }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.TourID })
                            </td>
                        </tr>
                    }

                </table>
            </div>
            <div class="row">
                <div class=" col-sm-12 col-md-5">
                </div>
                <div class=" col-sm-12 col-md-7">
                    <div class="dataTables_paginate">
                        @Html.PagedListPager(Model, page => Url.Action("Index",
                            new {page, currentFilter = ViewBag.CurrentFilter}))
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
