@model IEnumerable<TopTravel.TourType>

@{
    ViewBag.Title = "TourTypes";
}

<h1 class="h3 mb-2 text-gray-800">TourTypes</h1>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="card shadow mb-4">
    <div class="card-body">
        <table class="table table-bordered dataTable">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TourTypeName)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TourTypeName)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.TourTypeID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.TourTypeID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.TourTypeID })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>