@model TopTravel.BookTour

@{
    ViewBag.Title = "Details";
}

<h1 class="h3 mb-2 text-gray-800">Details</h1>

<div>
    <h4>BookTour</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NumberOfAdult)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfAdult)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfChildrent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfChildrent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentMethod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentMethod)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tour.TourName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tour.TourName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BookTourID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
